# Data Analysis
Importing Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy

Importing data from csv

In [19]:
data = pd.read_csv("tsa-data/age_std_suicide_rates.csv")
data.drop(labels=["RegionCode", "RegionName", "CauseSpecificDeathPercentage", "GNI", "GNIPerCapita", "StdDeathRate"], axis=1, inplace=True)
data.head()

,CountryCode,CountryName,Year,Sex,SuicideCount,DeathRatePer100K,Population,GDP,GDPPerCapita,InflationRate,EmploymentPopulationRatio
0,ALB,Albania,1992,Male,33,2.076386,3247039.0,6.521750e+08,200.852220,226.005421,45.315
1,ALB,Albania,1992,Female,14,0.874563,3247039.0,6.521750e+08,200.852220,226.005421,45.315
2,ALB,Albania,1993,Male,46,2.937233,3227287.0,1.185315e+09,367.279225,85.004751,47.798
3,ALB,Albania,1993,Female,27,1.686025,3227287.0,1.185315e+09,367.279225,85.004751,47.798
4,ALB,Albania,1994,Male,37,2.332619,3207536.0,1.880951e+09,586.416135,22.565053,50.086

Calculating total rates per 100k (not separating by gender)

for each country+year combo:
    total_rate_per_100k = (male+female suicide / population) * 100k
    add that data to new df somehow

In [38]:
countries = data["CountryCode"].unique()
df_combined = pd.DataFrame(columns=data.columns)
for cc in countries:
    c_data = data.loc[data['CountryCode'] == cc]
    for year in c_data["Year"].unique():
        c_y_data = c_data.loc[c_data["Year"] == year]
        combine_rate = (c_y_data["SuicideCount"].sum() / c_y_data.iloc[0, 6]) * 100000
        add_row = pd.Series(c_y_data.iloc[0])
        add_row["DeathRatePer100K"] = combine_rate
        df_combined = pd.concat([df_combined, add_row])

df_combined.head()

KeyboardInterrupt:

Graphy Graph

In [ ]:
axisFont = {
    'family': 'serif',
    'color':  'black',
    'weight': 'normal',
    'size': 12,
}

titleFont = {
    'family': 'serif',
    'color':  'black',
    'weight': 'bold',
    'size': 16,
}

plt.figure(figsize=(10, 6))